@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

body {
  font-family: 'Roboto', sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background: linear-gradient(135deg, rgba(17, 17, 37, 0.8) 0%, rgba(39, 39, 69, 0.8) 100%), url('https://static.vecteezy.com/system/resources/previews/007/278/150/non_2x/dark-background-abstract-with-light-effect-vector.jpg') no-repeat center center fixed;
  background-size: cover;
  color: #fff;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.container {
  text-align: center;
  padding: 20px;
  background: rgba(0, 0, 0, 0.7);
  border-radius: 10px;
  max-width: 1200px;
  width: 100%;
  box-shadow: 0 10px 30px rgba(0, 0, 0, 0.7);
}

h1 {
  font-size: 2.5rem;
  margin-bottom: 20px;
  color: #61dafb;
  text-shadow: 0 4px 6px rgba(0, 0, 0, 0.4);
}

.calculator-grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 30px;
}

.calculator-card {
  background: rgba(255, 255, 255, 0.1);
  padding: 30px;
  border-radius: 10px;
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.3);
  transition: transform 0.2s ease, box-shadow 0.2s ease;
  cursor: pointer;
  position: relative;
  height: 300px;
}

.calculator-card:hover {
  transform: translateY(-10px);
  box-shadow: 0 12px 20px rgba(0, 0, 0, 0.5);
}

.calculator-card h2 {
  color: #fff;
  font-size: 1.5rem;
  margin-bottom: 10px;
  text-align: center;
}

.calculator-card p {
  color: #ddd;
  font-size: 1rem;
  margin-bottom: 0;
  text-align: center;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.calculator-card .wave {
  position: absolute;
  bottom: 0;
  left: 50%;
  width: 100%;
  height: 50px;
  background: linear-gradient(45deg, #61dafb, #21a1f1, #61dafb);
  background-size: 200% 200%;
  animation: waveAnimation 5s linear infinite;
  border-radius: 0 0 10px 10px;
}

@keyframes waveAnimation {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

.calculator-card a {
  color: inherit;
  text-decoration: none;
  display: block;
}

@media (max-width: 1024px) {
  .calculator-grid {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (max-width: 768px) {
  h1 {
    font-size: 2rem;
  }

  .calculator-grid {
    grid-template-columns: 1fr;
  }

  .calculator-card {
    height: auto;
  }

  .calculator-card h2 {
    font-size: 1.4rem;
  }

  .calculator-card p {
    font-size: 1rem;
  }
}
